// functions to be called when an alarm triggers:
void Prog1_On() {
  Serial.println("Alarm: - turn lights off");
}

void Prog1_Off() {
  Serial.println("Alarm: - turn lights on");
}

void WeeklyAlarm() {
  Serial.println("Alarm: - its Monday Morning");
}

void ExplicitAlarm() {
  Serial.println("Alarm: - this triggers only at the given date and time");
}

void Repeats() {
  Serial.println("60 seconds timer - Quelle heure est-il ?");
  getNTP();
  digitalClockDisplay();
}

void Repeats2() {
  Serial.println("2 minutes timer - Synchro de l'heure système");
  
}

void OnceOnly() {
  
  // use Alarm.free() to disable a timer and recycle its memory.
  Alarm.free(id);
  // optional, but safest to "forget" the ID after memory recycled
  id = dtINVALID_ALARM_ID;
  // you can also use Alarm.disable() to turn the timer off, but keep
  // it in memory, to turn back on later with Alarm.enable().
}
